:root {
  --background-color: #c5c3c6;
  --font-color: #46494b;
  --header-background-color: #4c5c68;
  --header-font-color: #b0e4db;
  --field-background-color: #ededee;
  --field-background-color-hover: #d8e4e9;
  --border-color: #555;
  --button-border: #2a3a46;
  --button-background-color: #4c5c68;
  --button-hover-background: #3b4b57;
  --button-active-background: #2a3a46;
  --font: "Varela Round", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font);
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
}

header {
  font-size: 2.4rem;
}

h1 {
  line-height: 1.2;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.header {
  padding: 5rem;
  background-color: var(--header-background-color);
  color: var(--header-font-color);
}

.title {
  font-size: 10rem;
  text-align: center;
}

.message {
  padding: 20px;
  font-size: 5rem;
  text-align: center;
}

.main {
  padding: 0 8rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 454px;
  height: 454px;
  border: 2px solid var(--border-color);
  margin: 0px auto;
}

.field {
  width: 150px;
  height: 150px;
  border: 1px solid var(--border-color);
  background-color: var(--field-background-color);
  font-size: 10rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.field:hover {
  background-color: var(--field-background-color-hover);
}

.center {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.restart-button {
  padding: 10px 20px;
  border: 2px solid var(--button-border);
  border-radius: 7px;
  background-color: var(--button-background-color);
  color: var(--header-font-color);
  font-size: 5rem;
}

.restart-button:hover {
  background-color: var(--button-hover-background);
}

.restart-button:active {
  background-color: var(--button-active-background);
}

.restart-button:focus {
  outline: none;
}

@media (max-width: 650px) {
  html {
    font-size: 41%;
  }

  .gameboard {
    width: 304px;
    height: 304px;
  }

  .field {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 29%;
  }

  .gameboard {
    width: 214px;
    height: 214px;
  }

  .field {
    width: 70px;
    height: 70px;
  }
}
