:root {
  --background-color: #c5c3c6;
  --font-color: #46494b;
  --header-background-color: #4c5c68;
  --header-font-color: #b0e4db;
  --field-background-color: #ededee;
  --field-background-color-hover: #d8e4e9;
  --border-color: #555;

  --font: "Varela Round", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font);
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
}

header {
  font-size: 2.4rem;
}

h1 {
  line-height: 1.2;
}

.header {
  padding: 5rem;
  background-color: var(--header-background-color);
  color: var(--header-font-color);
}

.title {
  font-size: 10rem;
  text-align: center;
}

.main {
  padding: 8rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 454px;
  height: 454px;
  border: 2px solid var(--border-color);
  margin: 0px auto;
}

.field {
  text-align: center;
  width: 150px;
  height: 150px;
  border: 1px solid var(--border-color);
  font-size: 10rem;
  background-color: var(--field-background-color);
  cursor: pointer;
  user-select: none;
}

.field:hover {
  background-color: var(--field-background-color-hover);
}

@media (max-width: 650px) {
  html {
    font-size: 41%;
  }

  .gameboard {
    width: 304px;
    height: 304px;
  }

  .field {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 29%;
  }

  .gameboard {
    width: 214px;
    height: 214px;
  }

  .field {
    width: 70px;
    height: 70px;
  }
}
